/* src/styles.css */
.sidebar {
    position: fixed; /* คงที่ตามตำแหน่งในหน้าจอ */
    width: 250px; /* ความกว้างของ Sidebar */
    height: 100vh; /* ความสูงเต็มหน้าจอ */
    background-color: #fff; /* สีพื้นหลังของ Sidebar */
    z-index: 1000; /* ทำให้ Sidebar อยู่เหนือองค์ประกอบอื่น */
}

.menu-bar{
    height: 88vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1rem;
}